h5{
    color:green;
    font-family: sans-serif;
    margin: 10px;
}

label{
    color:midnightblue;
    font-weight: 550;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    margin: 10px;
}

form{
    color: #fff;
    border-collapse: collapse;
    font: normal 3em Arial, Helvetica, sans-serif;
    margin: 2%;
}

table{
    color: #fff;
    text-align: justify;
    border-collapse: collapse;
    font: normal 3em Arial, Helvetica, sans-serif;
    margin: 2%;
}

tr{
    height: 10vh;
    /* vh = vertical height
    = resizes proportional to size the screen. */
}

td{
    width:min-content;
    /* vw = vertical width
    = resizes proportional to size the screen. */
    border: 1px #4e494d67;
}

tr:hover{
    background-color:#4e494d;
}

button{
    color:green;
    font-family: sans-serif;
    margin: 10px;
}


